*{
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: rgb(187, 93, 206);
    /* background-color: rgb(236, 178, 214); */
    /* background:linear-gradient(to top right,  rgb(231, 241, 243), rgb(161, 17, 238)); */
}

h2{
    margin: 10px;
}

.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 1.0 em;
    color: rgb(108, 34, 177);
    background-color: rgb(224, 238, 238);
    /* background-color:linear-gradient(to bottom right, rgb(214, 219, 219),  rgb(231, 241, 243)); */
}

.cell.isShown{
    background-color: rgb(203, 216, 216);
}

.cell.isHint{
    background-color: rgb(197, 218, 218);
}

.isSafe{
    background-color: rgb(79, 206, 206);
}
.cell:hover{
    /* background-color: rgba(177, 236, 236, 0.699);  */
    background:linear-gradient(to top right,  rgb(231, 241, 243), rgb(177, 236, 236));
}

.board-container{
    margin-top: 200px;
    margin:auto;
    text-align: center;
    display:inline-block
}

button{
    width: 80px;
    height: 30px;
    border-radius: 3px;

  }
  .options{
      margin: 20px;
  }

  .reset{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size:40px;
    display:inline-block
  }


ul{
    padding: 0px;
}

  li {
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    /* background-color: blueviolet; */

}

.buttons-container{

    position: absolute;
    top: 40%;
    left: 25%; 
}

button{
    margin: 5px;
    /* background:linear-gradient(to top right,  rgb(231, 241, 243),rgb(224, 192, 11)); */
    background:linear-gradient(to top right,  rgb(231, 241, 243),rgba(108, 34, 177, 0.164));

}

.isSevenBoom{
    background:linear-gradient(to top right,  rgb(231, 241, 243),rgb(82, 5, 153));
}

.mines{
    margin-bottom: 10px;
}
